# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
- Python
- R
- Julia
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib
4. seaborn
5. SciKit-Learn
6. tensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|R-Studio|
|TensorFlow|

### H3: Below are a few examples of evaluating arithmetic expressions in Python
23*8
10+4

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
         Susmita Pattnaik